<p id="notice"><%= notice %></p>

<h1>Your Events</h1>

  <div>

    <% @events.map do |event| %>
<ul>

      <li><%= event.slice("venue")%></li>
      <% event.slice("description").each do |key, value| %>
      <li><%= strip_tags(value) %></li>
        <%end%>
      <li><%= event.slice("event_url")%></li>
      <li><%= event.slice("group") %></li>
      <% event.slice("status").each do |key, value| %>
        <%= value %>
      <%end%>    
</ul>

      <%= link_to 'Attend' %>

    <%end%>
<br>

<%= link_to 'New Event', new_event_path %>
