<p id="notice"><%= notice %></p>
 <div>
   <strong><%= @event.group_name %></strong>
 </div>

 <div>
   <%= @event.date %>
 </div>


 <div>
   <%= strip_tags(@event.description) %>
 </div>

 <div>
   <%= @event.venue_name %></br>
   <%= @event.address %></br>
   <%= @event.city %>
   <%= @event.state %>
   <%= @event.zipcode %>
 </div>

<div id =" btn-info">
  <% if current_user.following?(@event) %>
<%= button_to "Attend Event", attend_event_path(@event.id), :method => :post %>
  <% else %>
    <%= button_to "Unattend Event", unattend_event_path(@event.id) %>
  <%end%>
</div>

<div>
  <h3>Who's Attending (<%= @event.users.count %>)</h3><br>
  <div>
  <% @event.users.each do |user| %>
    <ul>
      <div>
        <label><input type ="checkbox" name="association" value="Met"> We Met</label>

      </div>
        <li>
          <%= user.name %>
          <%= button_to "Notes", "#",  data: { toggle: "modal", target: "#ajax-modal" } %>
          <%= render :partial => "user/myModal", :locals => {:user => user} %>
        </li>
    </ul>
  <% end %>
  </div>
</div>

<%= link_to 'Back', events_path %>
