<p id="notice"><%= notice %></p>
 <div>
   <strong><%= @event.group_name %></strong>
 </div>

 <div>
   <%= @event.date.strftime("%B %d, %Y %I:%M %p") %>
 </div>


 <div>
   <%= strip_tags(@event.description) %>
 </div>

 <div>
   <%= @event.venue_name %></br>
   <%= @event.address %></br>
   <%= @event.city %>
   <%= @event.state %>
   <%= @event.zipcode %>
 </div>

<div id =" btn-info">

 <% if @event.users.include? current_user %>
 <%= button_to "Unattend Event", unattend_event_path(@event.id), :method => :post %>
 <% else %>
 <%= button_to "Attend Event", attend_event_path(@event.id), :method => :post %>
 <% end %>

</div>

<div>
  <h3>Who's Attending (<%= @event.users.count %>)</h3><br>
  <% @event.users.each do |user| %>
      <div>
        <% if current_user.following?(user) %>
          <%= button_to "Didn't Meet", unfollow_user_path(:id => user[:id]), method: :post %>
        <% else %>
          <%= button_to "We Met", follow_user_path(:id => user[:id]), method: :post %>
        <% end %>
      </div>
      <ul>

        <li>
          <img src="<%= current_user.image_url %>"><br>
          <%= user.name %>
          <%= button_to "Notes", "#",  data: { toggle: "modal", target: "#ajax-modal" } %>
          <%= render :partial => "user/myModal", :locals => {:user => user} %>
          <label><input type ="checkbox" name="association" value="Met"> We Met</label>
        </li>
    </ul>
  <% end %>

</div>

<%= link_to 'Back', events_path %>
