<p id="notice"><%= notice %></p>
 <div>
   <strong><%= @event.group_name %></strong>
 </div>

 <div>
   <%= @event.date.strftime("%B %d, %Y %I:%M %p") %>
 </div>


 <div>
   <%= strip_tags(@event.description) %>
 </div>

 <div>
   <%= @event.venue_name %></br>
   <%= @event.address %></br>
   <%= @event.city %>
   <%= @event.state %>
   <%= @event.zipcode %>
 </div>

<div id =" btn-info">

 <% if @event.users.include? current_user %>
 <%= button_to "Unattend Event", unattend_event_path(@event.id), :method => :post %>
 <% else %>
 <%= button_to "Attend Event", attend_event_path(@event.id), :method => :post %>
 <% end %>

</div>

<div>
  <h3>Who's Attending (<%= @event.users.count %>)</h3><br>
      <%= render 'shared/user' %>
</div>

<%= link_to 'Back', events_path %>
