<p id="notice"><%= notice %></p>
 <div>
   <strong><%= @event.group_name %></strong>
 </div>

 <div>
   <%= @event.date %>
 </div>


 <div>
   <%= strip_tags(@event.description) %>
 </div>

 <div>
   <%= @event.venue_name %></br>
   <%= @event.address %></br>
   <%= @event.city %>
   <%= @event.state %>
   <%= @event.zipcode %>
 </div>

<%= button_to "Attend"%>
<%= link_to 'Back', events_path %>
