<% if current_user %>
  <div class="profile">
    <div class-"user-info">
      <ul>
        <li><img src="<%= current_user.image_url %>"></li>
        <li><strong><%= current_user.name %></strong></li>
      </ul>
    </div>
  </div>
  <div class='logout'>
    <%= link_to "Logout", logout_path, :method => :delete %><br>
    <%= link_to "Events", events_path %>
  </div>
  <% else %>
    <%= render 'welcome' %>

  <% end %>
