<% if current_user %>
  <div class="profile">
    <div class-"user-info">
      <ul>
        <li><img src="<%= current_user.image_url %>"></li>
        <li><strong><%= current_user.name %></strong></li>
<<<<<<< HEAD
        <li><%= current_user.email %></li>
        <li><%= current_user.industry %></li>
        <li><%= current_user.headline %></li>
=======
        <li><strong><%= current_user.company %></strong></li>
        <li><strong><<%= current_user.title %></li>
        <li><strong><%= current_user.email%></strong></li>
        <li><<%= current_user.industry %></li>
        <li><%= current_user.headline %></li>

>>>>>>> 42ccc4073e0b639a979af7206fcc06aac7d06240
      </ul>
    </div>
  </div>
  <div class='logout'>
    <%= link_to "Logout", logout_path, :method => :delete %><br>
    <%= link_to "Events", events_path %>
  </div>
  <% else %>
    <%= render 'welcome' %>

  <% end %>
