<% if current_user %>
  <div class="profile">
    <div class-"user-info">
      <ul>
        <img src="<%= current_user.image_url %>"><br>
        <strong><%= current_user.name %></strong><br>
        <%= current_user.email %><br>
        <%= current_user.headline %><br>
        <%= current_user.title %><br>
        <%= current_user.company %><br>

      </ul>
    </div>
  </div>

  <div class='LocalEvent'>
    <h3><%= link_to "Local Events", events_path %> </br></h3>
  </div>
  <div>
    <h3>Your Upcoming Events</h3>
    <% @user.events.each do |event| %>
    <ul>
      <li>
        <%= link_to event.group_name, event_path(event[:id]) %>
        <%= (event.date).strftime("%B %d, %Y %I:%M %p") %>
      </li>
    </ul>
    <% end %>
  </div>

  <div>
    <h3>Your Past Events</h3>

  </div>

<h3><%= link_to "People Met", user_index_path %></h3>
  <% else %>
    <%= render 'welcome' %>
  <% end %>


<div class = "modal fade" id="myModal" tabindex = "-1" role="dialog" aria-labelby="myModalLable" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
      <div class="modal-content">
      </div>
    </div>
  </div>
