<% if current_user %>
  <div class="profile">
    <div class-"user-info">
      <ul>
        <li><img src="<%= current_user.image_url %>"></li>
        <li><strong><%= current_user.name %></strong></li>
        <li><%= current_user.headline %></li>
        <li><%= current_user.title %></li>
        <li><%= current_user.company %></li>
        <li><%= current_user.email %></li>

      </ul>
    </div>
  </div>
  <div class='logout'>
    <%= link_to "Local Events", events_path %> </br>
  </div>
  <div>
    <h3>Your Upcoming Events</h3>
    <% @user.events.each do |event| %>
    <ul>
      <li>
        <%= link_to event.group_name, event_path(event[:id]) %>
        <%= event.date %>
      </li>
    </ul>
    <% end %>
  </div>

<%= link_to "People Met", user_index_path %>
  <% else %>
    <%= render 'welcome' %>
  <% end %>
