<% if current_user %>
  <div class="profile">
    <div class-"user-info">
      <ul>
        <li><img src="<%= current_user.image_url %>"></li>
        <li><strong><%= current_user.name %></strong></li>
        <li><%= current_user.email %></li>
        <li><%= current_user.industry %></li>
        <li><%= current_user.headline %></li>
      </ul>
    </div>
  </div>
  <div class='logout'>
    <%= link_to "Logout", logout_path, :method => :delete %>
  </div>
  <% else %>
    <%= render 'welcome' %>
  <% end %>
