<% if current_user %>
<div class="container">
  <section id="default" class="wrapper wrapper-default wrapper-md">
    <div class="container">
      <div class="row">
        <div class="col-md-2 col-md-offset-5 col-xs-6 col-xs-offset-3">
          <img src="<%= current_user.image_url %>" class="img-responsive img-circle text-center"  alt="alternative image txt"/>
        </div>
      </div>
      <div class="row">
        <div class="col-md-10 col-md-offset-1 text-center">
          <h2><%= current_user.name %></h2>
          <p class="lead"> <%= link_to "Events Nearby", events_path %> | <%= link_to "Noted People", user_index_path %></p>
        </div>
      </div>
    </div>
  </section>
<hr>
  <div class="row">
    <div class="col-lg-12">
      <h3>Events you plan on attending</h3>
    </div>
  </div>

  <% @user.events.each_slice(4) do |row| %>
  <div class="row text-center">
    <% row.each do |event| %>
    <div class="col-md-3 col-sm-6 hero-feature">
        <div class="thumbnail">
          <img src="http://placehold.it/800x500" alt="">
          <div class="caption">
            <h3><%= link_to event.group_name, event_path(event[:id]) %></h3>
            <p><%= event.date.strftime("%B %d, %Y %I:%M %p") %></p>
            <div class="btn btn-default">
            <% if event.users.include? current_user %>
              <%= link_to "Unattend", unattend_event_path(event.id), method: :post %>
            <% else %>
              <%= link_to "Attend", attend_event_path(event.id), method: :post %>
            <% end %>
            </div>
              <div class="btn btn-default">
                <%= link_to "MORE INFO", event_path(event["id"])%>
              </div>
          </div>
        </div>
    </div>
    <% end %>
  </div>
  <% end %>
</div>

  <% else %>
    <%= render 'welcome' %>
  <% end %>
