<%= render :partial =>'shared/navbar' %>
<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">Events Happening Near You:
      </h1>
    </div>
  </div></br>
  <% @events.each_slice(3) do |row| %>
  <div class="row">
    <% row.each do |event| %>
      <div class="col-md-4 portfolio-item">

        <img class="img-responsive" src='<%= event.image_url %>' alt=""></br>

        <h3 class="name-center"><%= link_to event.group_name, event_path(event)%></h3>
        <p><%= event.date.strftime("%B %d, %Y %I:%M %p") %></p>
        <p><%= strip_tags(event.description).truncate(200) %></p>
        <div class="text-center">
          <div class="btn btn-default button-color">
          <% if event.users.include? current_user %>
            <%= link_to "UNATTEND", unattend_event_path(event.id), method: :post %>
          <% else %>
            <%= link_to "ATTEND", attend_event_path(event.id), method: :post %>
          <% end %>
          </div>
            <div class="btn btn-default button-color">
              <%= link_to "MORE INFO", event_path(event["id"])%>
            </div>
          </div>
      </div>
      <% end %>
  </div></br>
    <% end %>
</div>
