<%= render :partial =>'shared/navbar' %>

<div class="container">
  <div class="row">
    <div class="col-lg-8">
      <h1><%= @event.group_name %></h1>
      <p class="lead"><%= @event.date.strftime("%B %d, %Y %I:%M %p") %></p>
      <div class=" btn btn-default">
        <% if @event.users.include? current_user %>
          <%= link_to "Unattend Event", unattend_event_path(@event.id), method: :post %>
        <% else %>
          <%= link_to "Attend Event", attend_event_path(@event.id), method: :post %>
        <% end %>
      </div>
      <img class="img-responsive" src='<%= @event.image_url %>' alt="">
      <p class="lead"><%= strip_tags(@event.description) %></p>
    </div>


        <div class="container col-md-4">
            <div class="well">
                <h4>Location:</h4>
                <%= @event.venue_name %></br>
                <%= @event.address %></br>
                <%= @event.city %>
                <%= @event.state %>
                <%= @event.zipcode %>
            </div>
            <div>
              <h3>Who's Attending (<%= @event.users.count %>)</h3><br>
            </div>


            <% @event.users.each do |user| %>
              <% if user.distance_to(@event) <= 1 && Time.now >= @event.date %>
                <div class="well">
                  <div class="media">
              <% else %>
                <div class="well">
                  <div class="media" style="opacity: 0.4">
              <% end %>
                    <div class="pull-left">
                      <img class="media-object" src="<%= user.image_url %>" alt="">
                    </div>
                      <div class="media-body">
                        <% if user != current_user %>
                          <h4 class="media-heading"><%= link_to user.name, user_path(user[:id]) %>
                        <% else %>
                          <h4 class="media-heading"><%= link_to user.name, root_path %>
                        <% end %>
                            <br><small><%= user.headline %></small>
                          </h4>
                      </div>
                        <% if user != current_user %>
                        <% if current_user.following?(user) %>
                          <%= link_to "Didn't Meet", unfollow_user_path(user), class: "btn btn-default", method: :post %>
                        <% else %>
                          <%= link_to "We Met", follow_user_path(user), class: "btn btn-default", method: :post %>
                        <% end %>
                        <button type="button" class="btn btn-default" data-toggle="modal" data-target="#myModal-<%= user.id %>">
                        Notes</button>
                        <% end %>
                    </div>
                  <%= render :partial =>'shared/modal', :locals => {:user => user.id} %>
  </div>

<% end %>
</div>
</div>
</div>
