<div class="container">
  <div class="row">
    <div class="col-lg-8">
      <h1><%= @event.group_name %></h1>
      <p class="lead">
        <p><span class="glyphicon glyphicon-time"></span> <%= @event.date.strftime("%B %d, %Y %I:%M %p") %></p>
      </p>

<hr>

      <div id =" btn-info">
        <% if @event.users.include? current_user %>
          <%= link_to "Unattend Event", unattend_event_path(@event.id), method: :post %>
        <% else %>
          <%= link_to "Attend Event", attend_event_path(@event.id), method: :post %>
        <% end %>
      </div>

<hr>
      <img class="img-responsive" src="http://placehold.it/900x300" alt="">

<hr>

      <p class="lead"><%= strip_tags(@event.description) %></p>

<hr>
      <div>
        <h3>Who's Attending (<%= @event.users.count %>)</h3><br>
      </div>

      <% @event.users.each do |user| %>
      <div class="media">
          <div class="pull-left">
              <img class="media-object" src="<%= user.image_url %>" alt="">
          </div>
          <div class="media-body">
              <h4 class="media-heading"><%= link_to user.name, user_path(user[:id]) %>
                  <br><small><%= user.title %></small>
                  <br><small><%= user.company %></small>
              </h4>
          </div>
            <% if current_user.following?(user) %>
              <%= link_to "Didn't Meet", unfollow_user_path(:id => user[:id]), method: :post %>
            <% else %>
              <%= link_to "We Met", follow_user_path(:id => user[:id]), method: :post %>
            <% end %>
            <button type="button" class="btn btn-primary btn-s" data-toggle="modal" data-target="#myModal">
            Notes</button>
              <%= render 'events/modal'%>
        </div>
        <% end %><br>
    </div>

        <div class="col-md-4">
            <div class="well">
                <h4>Location:</h4>
                <%= @event.venue_name %></br>
                <%= @event.address %></br>
                <%= @event.city %>
                <%= @event.state %>
                <%= @event.zipcode %>
            </div>
        </div>
    </div>
</div>
