<!-- Modal -->
<div class="modal fade" id="myModal<%= pix.id%>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel"><%= pix.description %> </h4>
      </div>
      <div class="modal-body">
        <%= image_tag(user.picture) %>
        <%= user.name %>
        <%= user.title %>
        <%= user.company %>
        <%= user.email %>
        <%= user.description %>
        <%= f.form_group :terms, label: { text: "Optional Label" } do %>
        <%= f.check_box :terms do %>
              Met
            <% end %>
          <% end %>
        

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Exit</button>

      </div>
    </div>
  </div>
</div>
