<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h2 class="page-header">People You've Met</h2>
    </div>
    <% if current_user.all_following.empty? %>
    <p>You haven't met anyone yet - checkout <strong><%= link_to "Professional", search_path %></strong> to see other professionals you might be interested in meeting <em>or</em> head over to <strong><%= link_to "Events Nearby", events_path %></strong> to checkout local events</p>
    <% else %>
    <div class="col-lg-4 col-sm-6 text-center">
      <% current_user.all_following.each_slice(3) do |row| %>
      <% row.each do |user| %>
      <img class="img-circle img-responsive img-center" src= "<%= user.image_url %>" alt="">
        <h3><%= link_to user.name, user_path(user[:id]) %>
          <br><small><%= user.company%> - <%= user.title %></small>
        </h3>
    </div>
    <% end %>
    <% end %>
    <% end %>
  </div>
</div>
