<%= render :partial =>'shared/navbar' %>
<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h2 class="page-header">Noted People:</h2>
    </div>
    <% @users.each_slice(3) do |row| %>
    <% row.each do |user| %>
    <% if user != current_user %>
    <div class="col-lg-4 col-sm-6 text-center">
      <% if current_user.authored_notes.exists?(user: user) == true %>
      <% if current_user.following?(user) %>
        <img class="img-circle" src= "<%= user.image_url %>" alt="">
        <h3>
          <span class="glyphicon glyphicon-ok"></span><%= link_to user.name, user_path(user[:id]) %>
          <br><small><%= user.company%> - <%= user.title %></small>
        </h3>
      <% else %>
        <img class="img-circle" src= "<%= user.image_url %>" alt="">
        <h3>
          <%= link_to user.name, user_path(user[:id]) %>
          <br><small><%= user.company%> - <%= user.title %></small>
        </h3>
      <% end %>
    </div>
  </div>
      <% else %>
        <p>You haven't taken any notes yet</p>
      <% end %>
    <% end %>
    <% end %>
    <% end %>
  </div>
</div>
