<div class="profile">
  <div class-"user-info">
    <ul>
      <img src="<%= @user.image_url %>">
      <strong><%= @user.name %></strong>
      <%= @user.headline %>
      <%= @user.email%>
      <%= @user.title %>
      <%= @user.company %>

      <div>
        <% if current_user.following?(@user) %>
          <%= button_to "Didn't Meet", unfollow_user_path, method: :post %>
        <% else %>
          <%= button_to "We Met", follow_user_path, method: :post %>
        <% end %>
      </div>
  </div>
</div>
