<section>

<div class="container">
  <header class="jumbotron hero-spacer centersize other-color">
      <img class="img-responsive img-center" style="height: 175px" src="<%= @user.image_url %>" alt="">
    <h1><%= @user.name %></h1>
    <p><%= @user.company %> - <%= @user.company %> - <%= @user.email %></p>
    <p>
      <div class="btn btn-primary btn-large">
      <% if current_user.following?(@user) %>
        <%= link_to "Remove", unfollow_user_path, method: :post %>
      <% else %>
        <%= link_to "We Met", follow_user_path, method: :post %>
      <% end %>
    </div>
    </p>
</header>
</div>

  <div class="container">
    <div class="col-md-12">
      <div class="col-md-9 col-md-offset-1 col-sm-6 hero-feature">
        <h2>Notes:</h2>
        <div class="caption col-md-offset-2">
          <% current_user.notes_for_user(@user).each do |note| %>
            <p><strong><%= note.body %></strong><br><%= note.created_at.strftime("%B %d, %Y") %> | <%= link_to "delete", note_path, method: :delete %></p>
          <%end%>
        </div>
        <button type="button" class="btn btn-default" data-toggle="modal" data-target="#myModal-<%= @user.id %>">Add a Note</button>
        <%= render :partial =>'shared/modal', :locals => {:user => @user.id} %>
      </div>
    </div>
  </div>

<hr>

    <div class="container">
      <h3>Events <%= @user.name %> is attending:</h3>
      <% if @user.events %>
        <% @user.events.each_slice(4) do |row| %>
        <div class="row text-center">
          <% row.each do |event| %>
          <div class="col-md-3 col-sm-6 hero-feature">
            <div class="thumbnail">
              <img class="event-image" src="<%= event.image_url %>" alt="">
              <div class="caption">
                <h3><%= link_to event.group_name, event_path(event[:id]) %></h3>
                <p><%= event.date.strftime("%B %d, %Y %I:%M %p") %></p>
                <div class="btn btn-default">
                  <% if event.users.include? current_user %>
                    <%= link_to "Unattend", unattend_event_path(event.id), method: :post %>
                  <% else %>
                    <%= link_to "Attend", attend_event_path(event.id), method: :post %>
                  <% end %>
                </div>
                <div class="btn btn-default">
                  <%= link_to "MORE INFO", event_path(event["id"])%>
                </div>
              </div>
            </div>
          </div>
          <% end %>
        </div>
        <% end %>
      <% end %>
    </div>

</section>
